NEXT_PUBLIC_APIGW_BASE=http://localhost:3010
NEXT_PUBLIC_DEFAULT_CLIENT_ID=demo-client
EMAIL_FROM=no-reply@ambulant.cloventechnology.com
DATABASE_URL='postgresql://neondb_owner:npg_vYFHLo9W5KeI@ep-curly-feather-agtkdi8j-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
SHADOW_DATABASE_URL='postgresql://neondb_owner:npg_vYFHLo9W5KeI@ep-curly-feather-agtkdi8j-pooler.c-2.eu-central-1.aws.neon.tech/ambulant_shadow?sslmode=require&channel_binding=require'

NEXT_PUBLIC_DEFAULT_CLIENT_ID=client-demo-medical-aid